streamlit==1.39.0
openai==1.51.2
pinecone-client==4.1.1
spacy==3.7.2
blis==0.7.10
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
langdetect==1.0.9
python-dotenv==1.0.1
sqlite3-binary
